extends ../layout

block content
    h3= book.title
    a(href=`/books/edit/${book.id}`) Edit Book
    a(href=`/books/delete/${book.id}`) Delete Book
    div
        p Publisher: #{book.publisher}
        p Authors: #{book.authors}
        p Genre: #{book.genre}
        p Cover: #{book.cover}
        p Page Count: #{book.pageCount}
        p= book.description